*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0; border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*Обнуление свойств*/
body{
	padding: 30px;
	line-height: 22px;
	background: rgba(224, 255,255,1);
	font-size: 20px;
}

h2{
	font-size: 28px;
	padding: 20px;
	font-weight: bold;
}
h3{
	font-size: 25px;
	padding: 15px;
	font-weight: bold;

}
.list li, ol{
	margin: 0px 0px 5px 0px;
}
.bigred{
	font-size: 28px;
	color: red;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
span.bigred{
	font-size: 20px;
	
}
.foto{
	padding: 10px 20px;
	width:300px;
}

.foto.big:hover{
	padding: 10px 20px;
	width:100%;
	display: block;

}
.close {
	position: absolute;
	right: 15px;
	top: -5px;
	width: 32px;
	height: 32px;
	opacity: 0.3;
}
.close:hover {
	opacity: 1;
}
.close:before, .close:after{
	position: absolute;
	left: 15px;
	content: '';
	height: 33px;
	width: 2px;
	background-color: #333;
}
.close:before {
	transform: rotate(45deg);
}

.close:after {
	transform: rotate(-45deg);
}
.ful {
	background: rgba(224,255,255,1);
	clear: left;
}
.big {
	font-weight: bold;
}
.big1 {
	font-weight: bold;
		font-size: 22px;
		color: #0000ff;
	/*	text-decoration: line-through;*/


}


.li5 {
	font-size: 28px;
	color: green;
}
.contact {
	font-weight: bold;
}
.b_1 {
	position: absolute;
	background-color: #ece89d;
	top: 180px;
	right: 50px;
	border: 10px solid #ece89d;
	border-radius: 10px;
	position: fixed;
	display: block;
}

.b_1:active {
	display: none;
}
